<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717353489884-2t3dq4je1mnrk580b6t00eaj8dbjq9pa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717353489884-2t3dq4je1mnrk580b6t00eaj8dbjq9pa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>717353489884-3t95sjikoodsl1cuhlu3oe5n1pt4v4ch.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSDB0b77BJ8OwFZUqYvy_V8NV_RqlE2fw</string>
	<key>GCM_SENDER_ID</key>
	<string>717353489884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blackicebell.heatradar</string>
	<key>PROJECT_ID</key>
	<string>heatradar-689ef</string>
	<key>STORAGE_BUCKET</key>
	<string>heatradar-689ef.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717353489884:ios:86da9fa9e5d6eca628ab19</string>
</dict>
</plist>